<div id="<%= dom_id edition %>">
  <p>
    <strong>Name:</strong>
    <%= edition.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= edition.desc %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= edition.url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= edition.user_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= edition.category %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= edition.rating %>
  </p>

  <p>
    <strong>Verified:</strong>
    <%= edition.verified %>
  </p>
  <%= edition.color %>
    <h1>Hello</h1>
  </div>
</div>
