
<div class="max-w-7xl mt-16 mx-auto">
  <section class=" p-6  bg-indigo-600 rounded-md shadow-md dark:bg-gray-800 ">
    <h1 class="text-xl font-bold text-white capitalize dark:text-white">Заявка на подтверждение</h1>
    <%= form_with(model: edition) do |f| %>
        <% if edition.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(edition.errors.count, "error") %> prohibited this edition from being saved:</h2>

            <ul>
              <% edition.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
            <div class="row-span-2">
                <label class="block text-sm font-medium text-white">
                Логотип
              </label>
              <div class="mt-1 flex justify-center mb-4 px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                <div class="space-y-1 text-center pt-10">
                  <svg class="mx-auto h-12 w-12 text-white" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                    <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                    <div class="flex text-sm text-gray-600 pt-5">
                      <label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                        <span class="p-2">Upload a file</span>
                          <div class="form-group">
                            <div class="col-sm-8">
                                <%= f.file_field :logo, class:"sr-only", id:"file-upload"  %>
                              </div>
                          </div>
                      </label>
                      <p class="pl-1 text-white">or drag and drop</p>
                    </div>
                    <p class="text-xs text-white">
                      PNG, JPG, GIF up to 10MB
                    </p>
                </div>

              </div>
            </div>

            <div>
                <label class="text-white dark:text-gray-200" for="username">Название издательства</label>
                <%= f.text_field :name, required: true, autofocus: true, input_html: { autocomplete: "name" }, class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"%>
            </div>

            <div>
                <label class="text-white dark:text-gray-200" for="emailAddress">Ссылка на сайт</label>
                <%= f.text_field :url, required: true, autofocus: true, class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" %>
            </div>

            <div>
                <label class="text-white dark:text-gray-200" for="password">Категория издательства</label>
                <%= f.select :category, options_for_select([['Политика'],['Наука и здоровье'],['Экономика'],['Технологии'],['Мировые новости'],['Культура и искусство'],['Спорт'],['Развлечения'],['Образование']],
              params[:area]),{}, { :class => 'span3 controls h-12 controls-row flex w-full items-center justify-between rounded bg-white p-2 ring-1 ring-gray-300' } %>
            </div>
            <div>
              <label class="text-white dark:text-gray-200" for="password">Цвет издательства</label>
              <%= f.color_field :color, class:"span3 controls h-12 controls-row flex w-full items-center justify-between rounded bg-white p-2 ring-1 ring-gray-300" %>
            </div>

            <div class="col-span-2">
                <label class="text-white dark:text-gray-200" for="passwordConfirmation">Об издательстве</label>
                <%= f.text_area :desc, required: true, autofocus: true, class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"%>
            </div>


        </div>

        <div class="flex justify-end mt-6">
          <a href="/users/<%= current_user.id %>" class="p-2 border-2  text-white rounded-lg me-2 bg-rose-500 border-rose-500">Отмена</a>
          <%= f.submit "Отправить", class:"px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-emerald-500 rounded-md hover:bg-emerald-700 focus:outline-none focus:bg-gray-600" %>
        </div>
    <% end %>

</section>
</div>

