<div aria-label="group of cards" class="focus:outline-none py-8 max-w-6xl mx-auto">
    <a href="/editions/new">
        <button class="p-2 border-2 border-purple-400 text-purple-400 rounded-lg sn:m-2">Подать заявку на подтверждение</button>
    </a>

    <div class="lg:flex items-center p-2 justify-center w-full">
        <% @editions.each do |e|%>
            <div tabindex="0" aria-label="card 1" class="focus:outline-none lg:w-4/12 lg:mr-7 lg:mb-0 mb-7 md:h-56 p-6 shadow rounded">
                <div class="flex items-center pb-6">
                    <img src="<%= url_for(e.logo) %>" alt="coin avatar" class="w-12 h-12 rounded-full" />
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full">
                            <a href="/editions/<%= e.id %>" tabindex="0" class="focus:outline-none text-xl font-medium leading-5 text-gray-800"><%= e.name %></p>
                            <p tabindex="0" class="focus:outline-none text-sm leading-normal pt-2 text-gray-500"><%=  %></p>
                        </div>
                        <div role="img" aria-label="bookmark">
                            <svg  class="focus:outline-none" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5001 4.66667H17.5001C18.1189 4.66667 18.7124 4.9125 19.15 5.35009C19.5876 5.78767 19.8334 6.38117 19.8334 7V23.3333L14.0001 19.8333L8.16675 23.3333V7C8.16675 6.38117 8.41258 5.78767 8.85017 5.35009C9.28775 4.9125 9.88124 4.66667 10.5001 4.66667Z" stroke="#2C3E50" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="px-2">
                    <p tabindex="0" class="focus:outline-none text-sm leading-5 pb-4 text-gray-600"><%= e.desc %></p>
                    <div tabindex="0" class="focus:outline-none flex">
                        <div class="py-2 px-4 text-xs leading-3 text-indigo-700 rounded-full bg-indigo-100">#<%= e.name %></div>
                        <div class="py-2 px-4 ml-3 text-xs leading-3 text-indigo-700 rounded-full bg-indigo-100">#<%= e.category %></div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
