
  <%# <%= render "devise/shared/error_messages", resource: resource %>


<%# <%= render "devise/shared/links" %>
<section class="bg-white w-full dark:bg-white height-[100vh]" style="height:100vh">
    <div class="flex h-full bg-white">
        <div class="hidden bg-fill lg:block lg:w-2/5" style="background-image: url(<%= image_url('auth/new_session_1.jpg') %>); background-size: 100%; background-repeat: no-repeat; background-position: bottom;">
        </div>
          <%= render "devise/shared/error_messages", resource: resource %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="flex items-center w-full p-8 bg-white mx-auto lg:px-12 ">
            <div class="w-full mt-24">
                <h1 class="text-2xl mt-14 font-semibold tracking-wider text-gray-800 capitalize dark:text-white">
                    Создай аккаунт прямо сейчас.
                </h1>

                <p class="mt-4 text-gray-500 dark:text-gray-400">
                    Благодаря RedNews вы сможете получать самые актуальные новости на данный момент.<br>Если же у вас уже имеется аккаунт - <a href="/users/sign_in" class="text-blue-500">Авторизация</a> или перейдите на <a class="text-blue-500" href="/">Главная страница</a>
                </p>


                <div class="grid w-full  sn:grid-cols-1 gap-6 mt-8 md:grid-cols-2 lg:grid-cols-2">
                    <div class="mt-2">
                        <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Логин</label>
                        <%= f.text_field :login,placeholder:"Введите ваш логин", class:"block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"%>
                    </div>

                    <div class="mt-2">
                        <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">О себе</label>
                        <%= f.text_field :desc, placeholder:"Расскажите нам о себе" ,class:"block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"%>
                    </div>



                    <div class="mt-2">
                        <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Почта</label>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"andrey@example.com", class:"block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" %>
                    </div>

                    <div class="mt-2">
                        <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Пароль</label>
                        <%= f.password_field :password, autocomplete: "new-password", placeholder:"Введите ваш пароль", class:"block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" %>
                     <% if @minimum_password_length %>
                          <em class="text-sm text-gray-500">(<%= @minimum_password_length %> знаков минимум)</em>
                        <% end %><br />
                    </div>

                    <div class="mt-2">
                        <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Подтверждение пароля</label>
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Введите ваш пароль снова" ,class:"block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" %>
                    </div>

                    <div class="md:pt-9 lg:pt-9">
                      <button
                        style="height:50px"
                        class="flex items-center justify-between w-full px-6 py-3 text-sm tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                        <%= f.submit "Sign up" %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 rtl:-scale-x-100" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd" />
                        </svg>
                      </button>
                    </div>

                </div>
            </div>
        </div>
        <% end %>
    </div>
</section>
