        <%# <% if @user.avatar.present? %>
            <%# <%= image_tag(@user.avatar.variant(resize_to_fill: [1000, 1000]), class: "rounded-circle  w-full") %>
        <%# <% else %>

            <%# <%= link_to "Edit Users", "/users/edit", class:"border-2 border-emerald-400 p-2 bg-emerald-400 rounded-lg font-bold text-white"%>
            <%# <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class:"border-2 border-rose-400 p-2 bg-rose-400 rounded-lg font-bold text-white"%>
                <%# <%= render partial: 'items', locals: { items: [] } %>

<style>
    .Profile{
        overflow-y:scroll;
    }
    .Profile::-webkit-scrollbar{
        width:0;
    }
</style>
<main class="Profile grid h-full grid-cols-1 lg:grid-cols-2 gap-6  w-2xl container px-2 mx-auto">
    <aside class="">
        <div class="bg-white shadow rounded-lg p-5">
            <div class="flex flex-col gap-1 text-center items-center">
                <% if @user.verified %>
                    <img class="h-32 w-32 bg-[#5E17F4] p-2 rounded-full shadow mb-4" src="<%= url_for(@user.avatar.variant(resize_to_fill: [1000, 1000])) %>" alt="">
                <% else %>
                    <img class="h-32 w-32 bg-white p-2 rounded-full shadow mb-4" src="<%= url_for(@user.avatar.variant(resize_to_fill: [1000, 1000])) %>" alt="">
                <% end %>
                <p class="font-semibold"><%= @user.login %></p>
                <div class="text-sm leading-normal text-gray-400 flex justify-center items-center">
                    <svg viewBox="0 0 24 24" class="mr-1" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                    <%= @user.city %>
                </div><hr class="bg-gray-300 border-1 mt-2 border-gray-300 w-1/2">
                 <div class="pt-2 pb-4 w-72 text-sm leading-normal text-gray-400 justify-center items-center">
                    <%= @user.desc %>
                </div>
                <%# <%= @user.user_role.name %>
            </div>
            <div class="flex justify-center items-center gap-2 my-3">
                <div class="font-semibold text-center mx-4">
                    <p class="text-black"><%= @articles_count %></p>
                    <span class="text-gray-400">Статьи</span>
                </div>
                     <div class="font-semibold text-center mx-4">
                    <p class="text-black"><%= @events_count %></p>
                    <span class="text-gray-400">Новости</span>
                </div>
                <div class="font-semibold text-center mx-4">
                    <p class="text-black"><%= @user.subscribers.count %></p>
                    <span class="text-gray-400">Подписчики</span>
                </div>
                <div class="font-semibold text-center mx-4">
                    <p class="text-black"><%= @user.subscribed_users.count %></p>
                    <span class="text-gray-400">Подписки</span>
                </div>
            </div>
            <div class="flex justify-center pt-4 items-center gap-2 my-3">
                <% if current_user  != @user %>
                    <% if current_user.subscribed_users.include?(@user) %>
                        <%= button_to 'Отписаться', unsubscribe_user_path(@user), method: :delete, class:"border-2 p-2" %>
                    <% else %>
                        <%= button_to 'Подписаться', subscribe_user_path(@user), method: :post, class:"border-2 p-2" %>
                    <% end %>
                <% else %>
                    <%= link_to "Edit Users", "/users/edit", class:"border-2 p-2" %>
                    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class:"border-2 p-2" %>
                <% end %>
            </div>
        </div>
        <% if @user.subscribed_users.count != 0 %>
            <div class="bg-white shadow mt-6  rounded-lg p-6">
                <h3 class="text-gray-600 text-sm font-semibold mb-4">Подписки</h3>
                <ul class="flex  space-x-2">
                    <% @user.subscribed_users.each do |sub|%>
                    <!-- Story #1 -->
                    <li class="flex flex-col items-center space-y-2">
                        <!-- Ring -->
                        <% if sub.verified %>
                            <a href="/users/<%= sub.id %>" class="block bg-[#5E17F4] p-1 rounded-full" href="#">
                        <% else %>
                            <a href="/users/<%= sub.id %>" class="block shadow bg-white p-1 rounded-full" href="#">
                        <% end %>
                            <img class="w-16 h-16 rounded-full" src="<%= url_for(sub.avatar) %>">
                        </a>
                        <!-- Username -->
                        <span class="text-xs text-gray-500">
                            <%= sub.login %>
                        </span>
                    </li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <% if @user.subscribers.count != 0 %>
                 <div class="bg-white shadow mt-6  rounded-lg p-6">
                <h3 class="text-gray-600 text-sm font-semibold mb-4">Подписчики</h3>
                <ul class="flex  space-x-2">
                    <% @user.subscribers.each do |sub|%>
                    <!-- Story #1 -->
                    <li class="flex flex-col items-center space-y-2">
                        <!-- Ring -->
                        <% if sub.verified %>
                            <a href="/users/<%= sub.id %>" class="block bg-[#5E17F4] p-1 rounded-full" href="#">
                        <% else %>
                            <a href="/users/<%= sub.id %>" class="block bg-white p-1 rounded-full" href="#">

                        <% end %>
                            <img class="w-16 h-16 rounded-full" src="<%= url_for(sub.avatar) %>">
                        </a>
                        <!-- Username -->
                        <span class="text-xs text-gray-500">
                            <%= sub.login %>
                        </span>
                    </li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <% if @user.verified %>
            <div class='break-inside relative    shadow mt-6  rounded-lg p- overflow-hidden flex flex-col justify-between space-y-2 text-sm  w-full p-4 mb-4 bg-[#5E17F4] text-white'>
                <span class='uppercase text-xs text-[#D2BDFF]'>REDNEWS TEAM</span>
                <div class='flex flex-row items-center space-x-3'>
                    <svg width='58' height='56' viewBox='0 0 52 50' fill='none' xmlns='http://www.w3.org/2000/svg'>
                    <path d='M32.6458 38.4379C33.9918 37.1198 33.2655 34.0922 31.0668 30.5948C31.8658 30.4707 32.6129 30.281 33.178 29.9905C35.2112 28.9466 36.584 27.044 37.6232 25.0759C38.7403 22.9647 39.49 20.644 40.9477 18.7215C41.1939 18.3966 41.44 18.1052 41.6853 17.831C44.8304 18.206 47.3412 18.8784 47.3412 18.8784L48.3006 16.4534C47.0896 16.0212 45.848 15.6791 44.586 15.4302C45.3591 14.9931 45.8635 14.8569 45.8635 14.8569L44.9543 12.4121C43.4966 13.025 42.3136 13.9293 41.323 15.0121C37.6206 14.806 33.8921 15.5397 30.9506 17.8086C28.7389 19.5155 27.2447 21.8819 25.839 24.2491C24.5935 23.0333 23.2671 21.9023 21.8688 20.8638C22.134 20.4302 22.4182 20.0405 22.7242 19.7397C24.5728 17.9293 27.0116 16.7716 28.6115 14.7C31.9742 10.35 29.5146 3.53103 26.7481 0C26.2524 0.475 25.4325 1.16724 24.8155 1.71379C27.7561 4.70948 29.8127 9.95431 27.5082 13.8733C26.2203 16.0638 23.8404 17.4379 22.1764 19.3198C21.8887 19.6466 21.6313 20.0603 21.3982 20.5172C17.0466 17.4129 13.053 16.1638 11.4704 17.7138C11.3133 17.8737 11.1838 18.0584 11.0874 18.2603L11.0813 18.2543L11.0388 18.3776C10.9799 18.5112 10.9261 18.65 10.8897 18.8017L0 50L31.774 38.95L31.7653 38.9414C32.1068 38.8319 32.4075 38.6707 32.6458 38.4379ZM6.32065 45.9759L3.66863 44.7465L5.45831 39.6172L13.6666 43.4207L6.32065 45.9759ZM21.0116 40.8664L7.24972 34.4879L9.0394 29.3595L19.3233 34.494C13.1847 30.5198 10.8291 24.2293 10.8291 24.2293L11.441 22.4767C12.5286 25.2138 14.9215 28.6224 18.2097 31.8397C21.5256 35.0862 25.0399 37.4379 27.8488 38.4888L21.0116 40.8664ZM26.2975 24.7112C27.7344 22.6621 29.2156 20.594 31.2748 19.1224C33.2352 17.7207 36.4176 17.4647 39.4345 17.6328C38.4153 19.4034 37.6622 21.3681 36.9861 23.2552C36.1689 25.5397 35.0734 27.9086 32.9847 29.3095C32.4214 29.6871 31.6318 29.9629 30.7886 30.1672C29.6298 28.4009 28.1097 26.5336 26.2975 24.7112Z' fill='white' />
                    <path d='M18.2287 16.3793C19.0971 16.3793 16.4937 13.7931 16.9287 11.525C18.5962 11.3974 22.4078 12.1448 20.1892 9.11379C22.699 9.55345 23.9991 7.68966 21.6296 5.92328C22.4182 5.97845 23.6437 4.49914 22.764 4.31207C19.9456 3.7181 18.8423 5.23448 20.6312 7.42155C18.7505 7.07328 17.2173 7.9431 18.63 9.89655C13.1994 9.22328 16.2891 16.3793 18.2287 16.3793ZM36.8726 14.081C37.6864 13.7155 36.3058 11.3009 35.8569 10.6836C39.2915 10.3181 39.1615 9.3 37.0078 7.11897C42.8631 7.31466 37.1889 4.00431 37.9846 2.69397C38.6736 1.55776 40.7874 2.74914 40.5915 2.11638C39.9311 0 33.6668 1.43103 37.631 5.38276C34.1712 5.45 33.8393 6.575 36.4176 8.9069C31.9265 8.95603 35.5908 14.6552 36.8726 14.081ZM51.7378 22.6078C50.3667 22.9897 50.1553 22.8466 50.3381 24.2043C47.1713 22.7543 43.8207 20.7379 45.854 26.0802C42.2573 23.95 42.4367 25.8155 41.7641 28.8853C40.8888 28.2069 39.6451 26.419 39.6451 26.419L38.3278 27.5319C38.3278 27.5319 40.7414 30.9181 41.9331 30.7259C42.9809 30.5578 43.5512 28.5879 43.6093 26.8517C46.946 28.2526 48.5432 28.4397 47.017 24.3431C49.6846 25.8336 52.9555 27.1483 51.7378 22.6078ZM3.50916 7.27328L5.96011 9.71207L3.50916 12.15L1.05734 9.71207L3.50916 7.27328ZM24.1005 26.5181L21.6478 28.956L19.1959 26.5164L21.6486 24.0776L24.1005 26.5181ZM13.1908 3.44828L15.6417 5.88621L13.1899 8.32586L10.7389 5.88621L13.1908 3.44828ZM39.8765 37.4862L37.4238 35.0474L39.8748 32.6078L42.3275 35.0466L39.8765 37.4862ZM34.4113 45.85L31.9603 43.4121L34.4113 40.9733L36.8631 43.4121L34.4113 45.85ZM45.1649 47.7759L42.7123 45.3371L45.1623 42.8974L47.615 45.3362L45.1649 47.7759ZM47.6159 36.669L45.1649 34.2302L47.6159 31.7922L50.0668 34.2302L47.6159 36.669ZM43.5243 6.03448L45.9753 8.47241L43.5235 10.9112L41.0725 8.47241L43.5243 6.03448Z' fill='white' />
                    </svg>
                    <span class='text-base font-medium'>Аккаунт официально подтверждён</span>
                </div>
                <% if current_user.id == @user.id %>
                    <div class='flex justify-between items-center'>
                        <span class="text-ms text-gray-400">Данный аккаунт включён в список администраторов</span>
                        <button class='flex items-center justify-center text-xs font-medium rounded-full px-4 py-2 space-x-1 bg-white text-black'>
                        <span>Панель администратора</span>
                        <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='#000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'>
                            <path d='M5 12h13M12 5l7 7-7 7' />
                        </svg>
                        </button>
                    </div>
                <% end %>
            </div>
        <% end %>

            <%# <img src="https://images.unsplash.com/photo-1439130490301-25e322d88054?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1189&amp;q=80" alt="Just a flower" class=" w-16  object-cover  h-16 rounded-xl">
            <div class="flex flex-col justify-center w-full px-2 py-1">
                <div class="flex justify-between items-center ">
                    <div class="flex flex-col">
                        <h2 class="text-sm font-medium">Massive Dynamic</h2>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500 hover:text-blue-400 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path>
                    </svg>
                </div>
                <div class="flex pt-2  text-sm text-gray-400">
                    <div class="flex items-center mr-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500 mr-1" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                            </path>
                        </svg>
                        <p class="font-normal">4.5</p>
                    </div>
                    <div class="flex items-center font-medium text-gray-900 ">
                        $1800
                        <span class="text-gray-400 text-sm font-normal"> /wk</span>
                    </div>
                </div>
            </div> %>
        <% if @popular_posts_user.nil? %>
        <div class="grid bg-white p-6 rounded-lg shadow mt-5  w-full ">
            <h3 class="text-gray-600 text-sm font-semibold mb-4">Лучшие записи</h3>
            <div class="grid grid-cols-2 gap-2 justify-center items-center">
                <% @popular_posts_user.each do |p|%>
                    <div class="relative flex flex-col justify-between   bg-white shadow-md rounded-3xl  bg-cover text-gray-800  cursor-pointer w-full object-cover object-center  h-58 my-2" style="background-image:url('<%= url_for(p.header) %>');">
                        <div class="absolute bg-gradient-to-t   opacity-50 inset-0 z-0"></div>
                        <div class="relative flex flex-row items-end  h-72 w-full ">
                            <div class="absolute right-0 top-0 ">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9 p-2 m-2 text-gray-200 hover:text-blue-400 rounded-full hover:bg-white transition ease-in duration-200 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path>
                                </svg>
                            </div>
                            <div class="p-6 rounded-lg  flex flex-col w-full z-10 ">
                                <h4 class="mt-1 text-white text-xl font-semibold  leading-tight truncate"><%= p.title %>
                                </h4>
                                <div class="flex justify-between items-center ">
                                    <div class="flex flex-col">
                                        <h2 class="text-sm flex items-center text-gray-300 font-normal">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z">
                                                </path>
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                            </svg>
                                            Dubai
                                        </h2>
                                    </div>
                                </div>
                                <div class="flex pt-4 text-sm text-gray-300">
                                    <div class="flex items-center mr-auto">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500 mr-1" viewBox="0 0 20 20" fill="currentColor">
                                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                            </path>
                                        </svg>
                                        <p class="font-normal">4.5</p>
                                    </div>
                                    <div class="flex items-center font-medium text-white ">
                                        $1800
                                        <span class="text-gray-300 text-sm font-normal"> /wk</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <% end %>
    </aside>

    <article class="">

        <%# <form class="bg-white shadow rounded-lg mb-4 p-4">
            <textarea name="message" placeholder="Type something..." class="w-full rounded-lg p-2 text-sm bg-gray-100 border border-transparent appearance-none rounded-tg placeholder-gray-400"></textarea>
            <footer class="flex justify-between mt-2">
                <div class="flex gap-2">
                    <span class="flex items-center transition ease-out duration-300 hover:bg-blue-500 hover:text-white bg-blue-100 w-8 h-8 px-2 rounded-full text-blue-400 cursor-pointer">
                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                    </span>
                    <span class="flex items-center transition ease-out duration-300 hover:bg-blue-500 hover:text-white bg-blue-100 w-8 h-8 px-2 rounded-full text-blue-400 cursor-pointer">
                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                    </span>
                    <span class="flex items-center transition ease-out duration-300 hover:bg-blue-500 hover:text-white bg-blue-100 w-8 h-8 px-2 rounded-full text-blue-400 cursor-pointer">
                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="4 17 10 11 4 5"></polyline><line x1="12" y1="19" x2="20" y2="19"></line></svg>
                    </span>
                </div>
                <button class="flex items-center py-2 px-4 rounded-lg text-sm bg-blue-600 text-white shadow-lg">Send
                    <svg class="ml-1" viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                </button>
            </footer>
        </form> %>
        <div class="flex gap-4">
            <p class="text-blue-500 underline decoration-blue-200 underline-offset-8 pb-4 text-2xl">Лента</p>
            <p class="text-blue-500 hover:underline hover:decoration-blue-200 hover:underline-offset-8 pb-4 text-2xl">Закладки</p>
        </div>

        <% @user_posts.each do |ups|%>
            <div class="bg-white shadow rounded-lg mb-12">
                <div class="flex flex-row px-2 py-3 mx-3">
                    <a href="/users/<%= ups.user.id %>" class="w-auto h-auto rounded-full">
                        <img class="w-12 h-12 object-cover rounded-full shadow cursor-pointer" alt="User avatar" src="<%= url_for(ups.user.avatar) %>">
                    </a>
                    <div class="flex flex-col mb-2 ml-4 mt-1">
                        <div class="text-gray-600 text-sm font-semibold"><%= ups.user.login %></div>

                        <div class="flex w-full mt-1">
                            <div class="text-blue-700 font-base text-xs mr-1 cursor-pointer">
                                <%= ups.user.user_role.name %>
                            </div>
                            <div class="text-gray-400 font-thin text-xs">
                                • <%= l(Time.now, format: :short)%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-b border-gray-100"></div>
                <div class="text-gray-400 font-medium text-sm mb-7 mt-6 mx-3 px-2">
                    <div class="grid   gap-2  ">
                        <p class="text-gray-700 text-sm "><%= ups.title %></p>
                        <div class=" overflow-hidden rounded-xl col-span-3 max-h-[14rem]">
                            <img class="h-full w-full object-cover " src="<%= url_for(ups.header) %>" alt="">
                        </div>
                        <%# <div class=" overflow-hidden rounded-xl col-span-3 max-h-[14rem]">
                            <img class="h-full w-full object-cover  " src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1399&amp;q=80" alt="">
                        </div>
                        <div class=" overflow-hidden rounded-xl col-span-2 max-h-[10rem]">
                            <img class="h-full w-full object-cover " src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1470&amp;q=80" alt="">
                        </div>
                        <div class=" overflow-hidden rounded-xl col-span-2 max-h-[10rem]">
                            <img class="h-full w-full object-cover " src="https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=687&amp;q=80" alt="">
                        </div>
                        <div class="relative overflow-hidden rounded-xl col-span-2 max-h-[10rem]">
                            <div class="text-white text-xl absolute inset-0  bg-slate-900/80 flex justify-center items-center">
                            + 23
                            </div>
                            <img class="h-full w-full object-cover " src="https://images.unsplash.com/photo-1560393464-5c69a73c5770?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=765&amp;q=80" alt="">
                        </div> %>
                    </div>
                </div>
                <%if ups.is_a?(Event) %>
                    <div class="text-gray-500 text-sm mb-6 mx-3 px-2"><%= ups.body[0..150] + "..." %> <%= link_to "Читать дальше", event_path(ups), class:"text-blue-300" %></div>
                <% else %>
                    <div class="text-gray-500 text-sm mb-6 mx-3 px-2"><%= ups.body[0..150] + "..." %> <%= link_to "Читать дальше", article_path(ups), class:"text-blue-300" %></div>
                <% end %>
                <div class="flex justify-start mb-4 border-t border-gray-100">
                    <div class="flex w-full mt-1 pt-2 pl-5">
                        <span class="bg-white transition ease-out duration-300 hover:text-red-500 border w-8 h-8 px-2 pt-2 text-center rounded-full text-gray-400 cursor-pointer mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="14px" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path>
                            </svg>
                        </span>
                        <img class="inline-block object-cover w-8 h-8 text-white border-2 border-white rounded-full shadow-sm cursor-pointer" src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
                        <img class="inline-block object-cover w-8 h-8 -ml-2 text-white border-2 border-white rounded-full shadow-sm cursor-pointer" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
                        <img class="inline-block object-cover w-8 h-8 -ml-2 text-white border-2 border-white rounded-full shadow-sm cursor-pointer" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80" alt="">
                        <img class="inline-block object-cover w-8 h-8 -ml-2 text-white border-2 border-white rounded-full shadow-sm cursor-pointer" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2.25&amp;w=256&amp;h=256&amp;q=80" alt="">
                    </div>
                    <div class="flex justify-end w-full mt-1 pt-2 pr-5">
                        <span class="transition ease-out duration-300 hover:bg-blue-50 bg-blue-100 w-8 h-8 px-2 py-2 text-center rounded-full text-blue-400 cursor-pointer mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="14px" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"></path>
                            </svg>
                        </span>



                    </div>
                </div>

                <div class="flex w-full border-t border-gray-100">
                    <div class="mt-3 mx-5 flex flex-row text-xs">
                        <%if ups.is_a?(Event) %>
                            <div class="flex text-gray-700 font-normal rounded-md mb-2 mr-4 items-center">Comments:<div class="ml-1 text-gray-400 text-ms"> <%= ups.event_comments.count %></div></div>
                        <% else %>
                            <div class="flex text-gray-700 font-normal rounded-md mb-2 mr-4 items-center">Comments:<div class="ml-1 text-gray-400 text-ms"> <%= ups.articles_comments.count %></div></div>
                        <% end %>

                        <div class="flex text-gray-700 font-normal rounded-md mb-2 mr-4 items-center">Views: <div class="ml-1 text-gray-400 text-ms"> <%= ups.impressionist_count %></div></div>
                    </div>
                    <div class="mt-3 mx-5 w-full flex justify-end text-xs">
                        <div class="flex text-gray-700  rounded-md mb-2 mr-4 items-center">Likes: <div class="ml-1 text-gray-400  text-ms"> <%=  %></div></div>
                    </div>
                </div>

            </div>
        <% end %>

    </article>
</main>

<!--
      <div class="mb-7 p-2 ps-4">
                        <%# <%= form_with(model: [@event, EventComment.new], class:"relative flex items-center self-center w-full  p-4 overflow-hidden text-gray-600 focus-within:text-gray-400",url: create_comment_event_path(@popular_event)) do |form| %>
                    <div class="flex w-full pe-12">
                        <img class="w-10 h-10 object-cover rounded-full shadow mr-2 cursor-pointer" alt="User avatar" src="<%= url_for(@user.avatar) %>">
                        <span class="absolute inset-y-0 right-0 flex items-center pr-6">
                            <button type="submit" class="p-1 focus:outline-none focus:shadow-none hover:text-blue-500">
                            <svg class="w-6 h-6 transition ease-out duration-300 hover:text-blue-500 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>

                            </button>
                        </span>
                        <div class="flex w-full">
                            <%# <%= form.text_area :content, placeholder: 'Add a comment...', rows: 4, class:"w-full py-2 min-h-12 h-12 flex-1 pl-4 pr-10 text-sm bg-gray-100 border border-transparent appearance-none rounded-tg placeholder-gray-400" %>
                            <%# <%= form.submit 'Post Comment', class:"p-2 max-h-12 border-2 border-gray-300 flex-2" %>
                        </div>

                                <%# <% end %>

               <!-- ups.event_comments.reverse.each do |comment| >
                    <div class="text-black p-4 mt-5 antialiased flex">
                        <img class="rounded-full h-8 w-8 mr-2 mt-1 " src="=# url_for(comment.user.avatar) ">
                        <div>
                            <div class="bg-gray-100 rounded-lg px-4 pt-2 pb-2.5">
                                <div class="font-semibold text-sm leading-relaxed"> comment.user.login </div>
                                <div class="text-xs leading-snug md:leading-normal">comment.content</div>
                            </div>
                            <div class="text-xs  mt-0.5 text-gray-500">l(comment.created_at, format: :short)</div>
                            <%# <div class="bg-white border border-white rounded-full float-right -mt-8 mr-0.5 flex shadow items-center ">
                                <svg class="p-0.5 h-5 w-5 rounded-full z-20 bg-white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16"><defs><linearGradient id="a1" x1="50%" x2="50%" y1="0%" y2="100%"><stop offset="0%" stop-color="#18AFFF"></stop><stop offset="100%" stop-color="#0062DF"></stop></linearGradient><filter id="c1" width="118.8%" height="118.8%" x="-9.4%" y="-9.4%" filterUnits="objectBoundingBox"><feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="1"></feGaussianBlur><feOffset dy="-1" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset><feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"></feComposite><feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0.299356041 0 0 0 0 0.681187726 0 0 0 0.3495684 0"></feColorMatrix></filter><path id="b1" d="M8 0a8 8 0 00-8 8 8 8 0 1016 0 8 8 0 00-8-8z"></path></defs><g fill="none"><use fill="url(#a1)" xlink:href="#b1"></use><use fill="black" filter="url(#c1)" xlink:href="#b1"></use><path fill="white" d="M12.162 7.338c.176.123.338.245.338.674 0 .43-.229.604-.474.725a.73.73 0 01.089.546c-.077.344-.392.611-.672.69.121.194.159.385.015.62-.185.295-.346.407-1.058.407H7.5c-.988 0-1.5-.546-1.5-1V7.665c0-1.23 1.467-2.275 1.467-3.13L7.361 3.47c-.005-.065.008-.224.058-.27.08-.079.301-.2.635-.2.218 0 .363.041.534.123.581.277.732.978.732 1.542 0 .271-.414 1.083-.47 1.364 0 0 .867-.192 1.879-.199 1.061-.006 1.749.19 1.749.842 0 .261-.219.523-.316.666zM3.6 7h.8a.6.6 0 01.6.6v3.8a.6.6 0 01-.6.6h-.8a.6.6 0 01-.6-.6V7.6a.6.6 0 01.6-.6z"></path></g></svg>
                                <svg class="p-0.5 h-5 w-5 rounded-full -ml-1.5 bg-white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16"><defs><linearGradient id="a2" x1="50%" x2="50%" y1="0%" y2="100%"><stop offset="0%" stop-color="#FF6680"></stop><stop offset="100%" stop-color="#E61739"></stop></linearGradient><filter id="c2" width="118.8%" height="118.8%" x="-9.4%" y="-9.4%" filterUnits="objectBoundingBox"><feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="1"></feGaussianBlur><feOffset dy="-1" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset><feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"></feComposite><feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0.710144928 0 0 0 0 0 0 0 0 0 0.117780134 0 0 0 0.349786932 0"></feColorMatrix></filter><path id="b2" d="M8 0a8 8 0 100 16A8 8 0 008 0z"></path></defs><g fill="none"><use fill="url(#a2)" xlink:href="#b2"></use><use fill="black" filter="url(#c2)" xlink:href="#b2"></use><path fill="white" d="M10.473 4C8.275 4 8 5.824 8 5.824S7.726 4 5.528 4c-2.114 0-2.73 2.222-2.472 3.41C3.736 10.55 8 12.75 8 12.75s4.265-2.2 4.945-5.34c.257-1.188-.36-3.41-2.472-3.41"></path></g></svg>
                                <span class="text-sm ml-1 pr-1.5 text-gray-500">3</span>
                            </div> %>
                        </div>

                    </div>

                <%# end %>
                -->
