<style>
  body {
  height:100vh;
}

.mainBlock{
  overflow-y: scroll;
}

</style>
<div class="mainBlock flex w-full md:p-12 lg:p-12 p-4">
  <div class="w-full">
    <%# <div id="image-container" class="bg-center bg-cover bg-no-repeat h-[30vh] mb-10 w-full bg-gray-200" ></div> %>
    <% if @event.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this article from being saved:</h2>
          <ul>
            <% event.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= form_with(model: @event) do |form| %>
      <div class="md:mb-3 lg:mb-3 grid gap-3 md:grid-cols-2 lg:grind-cols-2">
        <div>
          <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
            Заголовок
          </label>
          <%= form.text_field :title, placeholder:"Заголовок новости", class:"w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-3 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
          <span class="text-sm text-gray-400 ps-2">Минимальная длина: 50  </span>
        </div>

        <div class="md:mb-5 lg:mb-5 grid gap-3 md:grid-cols-2 lg:grind-cols-2">
          <div class="mb-5">
            <label for="subject" class="mb-3 block text-base font-medium text-[#07074D]">
              Тэги
            </label>
            <%= form.text_field :tag_list, placeholder:"Напиши 5 тэгов через запятую", value: @event.tag_list.join(', '), class:"w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-3 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
            <span class="text-sm text-gray-400 ps-2">Пример: О_главном, Популярное, Новое </span>
          </div>
          <div class="">
            <label for="subject" class="mb-3 block text-base font-medium text-[#07074D]">
              От имени издательства
            </label>
            <%= form.select :edition_id, options_for_select(@editions_list.map{ |value| [value.name, value.id]}),{}, { :class => 'span3 controls h-12 controls-row flex w-full items-center justify-between rounded bg-white p-2 ring-1 ring-gray-300' } %>
            <span class="text-sm text-gray-400 ">Выберите через какую группу опубликуете новость </span>
          </div>

        </div>


      </div>

      <div class="md:mb-5 lg:mb-5 grid gap-3 md:grid-cols-2 lg:grind-cols-2">
        <div data-controller="file-upload">
          <label class="mb-3 block text-base font-medium text-[#07074D]">Загрузите обложку вашей новости</label>
          <%= form.file_field :header, data: { file_upload_target: 'preview' }, class:"relative m-0 block w-full bg-white min-w-0 flex-auto cursor-pointer rounded border border-solid border-neutral-300 bg-clip-padding px-3 py-[0.32rem] font-normal leading-[2.15] text-neutral-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:cursor-pointer file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:file:bg-neutral-700 dark:file:text-neutral-100 dark:focus:border-primary" %>
          <span class="text-sm text-gray-400 ps-2">Старайтесь загружать информативное изображение </span>

        </div>
          <div class="grid md:grid-cols-2 sn:grid-cols-1 gap-3">
            <div class="mb-5">
              <label for="subject" class="mb-3 block text-base font-medium text-[#07074D]">
                Категория
              </label>
              <%= form.select :category, options_for_select([['Политика'],['Наука и здоровье'],['Экономика'],['Технологии'],['Мировые новости'],['Культура и искусство'],['Спорт'],['Развлечения'],['Образование']],
              params[:area]),{}, { :class => 'span3 controls h-12 controls-row flex w-full items-center justify-between rounded bg-white p-2 ring-1 ring-gray-300' } %>
              <span class="text-sm text-gray-400 ps-2">В дальнейшем по категориям пользователи смогут найти вашу новость </span>
            </div>
          <div>
          <div class="mb-5">
            <label for="subject" class="mb-3 block text-base font-medium text-[#07074D]">
              Город
            </label>
            <%= form.select :city, options_for_select([['Челябинск'],['Москва'],['Санкт-Петербург'],['Курган'],['Уфа'],['Екатеринбург'],['Самара'],['Саратов'],['Рязань']],
            params[:area]),{}, { :class => 'span3 controls h-12 controls-row flex w-full items-center justify-between rounded bg-white p-2 ring-1 ring-gray-300' } %>
            <span class="text-sm text-gray-400 ps-2">В дальнейшем по категориям пользователи смогут найти вашу новость </span>
          </div>
        </div>
      </div>

      </div>




      <div class="mt-5 mb-5">
        <label for="message" class="mb-3 block text-base font-medium text-[#07074D]">
          Текст новости
        </label>
        <%= form.text_area :body, size: "70x5", class:"w-full h-96 resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-3 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
      </div>
      <%= form.submit value:"Создать новость", class:"hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none  h-full" %>
    <% end %>
  </div>
</div>
